  <p>
    <b>Commenter:</b>
    <%= comment.commenter %> said:
    <blockquote><%= comment.body %></blockquote>
  </p>

  <p>
	<%= link_to 'Nuke Comment', [comment.post, comment],
		:confirm => 'Are you sure?',
		:method => :delete %>
  </p>
